/*Importa a fonte "Oswald" do Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Oswald');

/*Define variáveis de cores usando a pseudo-classe :root */

:root{
    --background: #000;
    --text: #fff;
    --highlight: #ff1ead;
}
/*Estiliza o corpo da página*/
body{
    background: var(--background);/*Define o fundo com base na variável --background*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    transition: 0.5s background ease;/*transição suave da cor de fundo*/
}

/*Estiliza o container principal*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Estiliza o botão de alternância de tema*/
.theme-switch{
    --background: #fff; /*Cor de fundo do botão*/
    --text: #000;/*Cor de texto do botão*/
    color: var(--text);
    width: 70px;
    height: 30px;
    background: var(--highlight);/*cor de destaque do botão*/
    border-radius: 50px;
    position: relative;
}
/*Estiliza o círculo dentro do botão de alternância*/
.theme-switch .switch{
    background: white;
    width: 24px;
    height: 24px;
    background: var(--background);
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5s all ease;/*Transição suave de posição*/
}

/*Estiliza o tema claro*/
.light-theme{
    --background:#fff;
    --text:#000;
    background: var(--background);
}
.light-theme .theme-switch{
    background: var(--text);
}

.light-theme .theme-switch .switch{
    transform: translateX(37px);/*move o círculo para a posição de alternância*/
}

/*Estiliza a barra de navegação*/
.navigation{
    display: flex;
    justify-content: center;
}
/*Estiliza a lista de links*/
ul{
    display: flex;
    list-style-type: none;
}
/*Estiliza cada link*/
ul a{
    margin: 10px 30px;
    position: relative;
    color: var(--text);
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
/*Adiciona uma linha de destaque antes do link ao passar o mouse*/

ul a:before{
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: var(--highlight);
    transform: translateX(-100%);
    opacity: 0;
}
/*Animação da linha de destaque ao passar o mouse*/
ul a:hover:before{ 
    opacity: 1;
    transition: 0.5 transform ease, 0.8s opacity ease;
    transform: translateX(0);
}

/*Estiliza o link ativo*/
ul .active{
    color: var(--highlight);
}
/*Remove a linha de destaque do link ativo ao passar o mouse*/
ul .active:hover:before{
    opacity: 0;
}


